<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/41d5fd62-f5a5-4dc0-a343-7200f1664950/resourceGroups/DirectoryBoard/providers/Microsoft.Web/sites/DirectoryBoardTask</ResourceId>
    <ResourceGroup>DirectoryBoard</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://directoryboardtask.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>directoryboardtask.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DirectoryBoardTask</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DirectoryBoardTask</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DirectoryBoardContext" Order="1" Enabled="True">
          <Destination Path="Data Source=directoryboard.database.windows.net;Initial Catalog=DirectoryBoardDB;Persist Security Info=True;User ID=JonQuan;Password=Jonaquanx50" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="directory_board_task_api.Models.DirectoryBoardContext, directory_board_task_api" MigrationConfiguration="directory_board_task_api.Migrations.Configuration, directory_board_task_api" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DirectoryBoardContext-Web.config Connection String">
      <ParameterValue>Data Source=directoryboard.database.windows.net;Initial Catalog=DirectoryBoardDB;Persist Security Info=True;User ID=JonQuan;Password=Jonaquanx50</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>